:root {
  --branding-color: #6c63ff;
  --secondary-color: #272142;
  --background-color: #f9f7fe;
  --heading-font-fanily: "Lobster", cursive;
  --general-font-family: "Roboto", sans-serif;
}
@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 18px;
  }
  .about {
    text-align: center;
  }
}
body {
  text-align: center;
}
h1 {
  font-family: var(--heading-font-fanily);
  font-size: 82px;
  font-weight: medium;
}
h2 {
  font-family: var(--general-font-fanily);
  line-height: 2;
  font-size: 24px;
}
.footer {
  padding: 30px 0;
  color: var(--branding-color);
  font-size: 24px;
}
.hero {
  background-color: var(--background-color);
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
  font-weight: normal;
}
.btn-branding {
  background-color: var(--branding-color);
  border: 4px;
  color: white;
  padding: 10px 15px;
}
.content p {
  text-align: left;
  padding-bottom: 30px;
}
.content h2 {
  font-weight: bold;
  text-align: left;
  font-family: var(--heading-font-fanily);
  font-size: 48px;
}
.btn-more {
  color: var(--branding-color);
  padding: 10px 15px;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
}

.about {
  text-align: left;
}
.btn-about {
  background-color: var(--branding-color);
  border: 4px;
  color: white;
  padding: 10px 15px;
}
.about p {
  padding: 20px 0;
}
.me {
  border-radius: 10px;
}
.work {
  text-align: center;
}
.work h1 {
  font-size: 36px;
}
.work h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.work p {
  font-size: 14px;
}
